name: Cache Dependencies

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache node modules
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-4560540

      - name: prime-cache-4560540
        run: |
          if [ "${{ steps.cache.outputs.cache-hit }}" = "true" ]; then
            echo "Cache hit"
          else
            echo "Cache miss"
          fi
