name: Simple Action

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 24f1001329@ds.study.iitm.ac.in
        run: echo "Hello from GitHub Actions"
